@implements IDisposable
@using Flycatcher.Models.Database
@inject UserStateService userStateService
@inject UserService userService
@inject CallbackService callbackService

<MudSimpleTable>
    <thead>
        <tr>
            <th>Username</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var friend in friends)
        {
            <tr>
                <td>@friend.Username</td>
                <td></td>
                <td></td>
                <td><MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="() => OnStartDm.InvokeAsync(friend.Id)">Message</MudButton></td>
                <td><MudButton Variant="Variant.Text" Color="Color.Error" OnClick="() => RemoveFriend(friend.Id)">Remove</MudButton></td>
            </tr>
        }

    </tbody>
</MudSimpleTable>

@code {
    [Parameter]
    public EventCallback<int> OnStartDm { get; set; }

    private List<User> friends = new();
    private int loggedInUserId;

    protected override async Task OnInitializedAsync()
    {
        loggedInUserId = (int)userStateService.loggedInUserId!;
        await RefreshFriends();
        callbackService.Subscribe(CallbackType.FriendsListUpdated, loggedInUserId, FriendsListUpdatedAsync);
    }

    private async Task RefreshFriends()
    {
        friends = await userService.GetUserFriends(loggedInUserId);
    }

    private async Task FriendsListUpdatedAsync()
    {
        await RefreshFriends();
        await InvokeAsync(StateHasChanged);
    }

    private async Task RemoveFriend(int friendId)
    {
        await userService.RemoveFriend(loggedInUserId, friendId);
    }

    public void Dispose()
    {
        callbackService.Unsubscribe(CallbackType.FriendsListUpdated, loggedInUserId, FriendsListUpdatedAsync);
    }
}
