@using Flycatcher.Models.Database
@inject UserStateService userStateService
@inject UserService userService

<MudSimpleTable>
    <thead>
        <tr>
            <th>Username</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var friend in friends)
        {
            <tr>
                <td>@friend.Username</td>
                <td></td>
                <td></td>
                <td></td>
                <td>DM Button will be here</td>
            </tr>
        }

    </tbody>
</MudSimpleTable>

@code {
    private List<User> friends = new();

    protected override async Task OnInitializedAsync()
    {
        friends = await userService.GetUserFriends((int)userStateService.loggedInUserId!);
    }
}
