@implements IDisposable
@using Flycatcher.Data
@using Flycatcher.Models.Database
@using Flycatcher.Repositories
@inject UserStateService userStateService
@inject ServerService serverService
@inject ChannelService channelService
@inject MessageService messageService
@inject IServiceScopeFactory serviceScopeFactory


<MudText Typo="Typo.h6">
    @channelService.GetChannelName((int)userStateService.selectedChannelId!)
</MudText>


<div class="d-flex align-items-center" style="width: 100%;">
    <MudTextField @bind-Text="@messageContent" OnKeyUp="KeyUp" TextUpdateSuppression="false" Immediate="true" T="string" Label="Send Message" Variant="Variant.Outlined" AutoGrow MaxLines="4" Class="flex-grow-1 me-2" />
</div>

<div>
    <Virtualize Context="message" ItemsProvider="LoadMessages" @ref="virtualizeRef">
        @if (message.Content is not null)
        {
            <MudPaper Elevation="3">
                <MudText Style="margin-left: 10px;" Typo="Typo.body1">@message.User.Username</MudText>
                <MudText Style="margin-left: 10px; margin-bottom: 10px; width: 98%; white-space: pre-wrap;" Typo="Typo.body2">
                    @((MarkupString)message.Content.Replace("\r\n", "<br>").Replace("\n", "<br>"))
                </MudText>
            </MudPaper>
        }
    </Virtualize>
</div>

@code {
    private Virtualize<Message>? virtualizeRef;
    private string messageContent = string.Empty;
    System.Timers.Timer timer = new System.Timers.Timer(1000);
    private int totalMessageCount = 0;

    private ValueTask<ItemsProviderResult<Message>> LoadMessages(ItemsProviderRequest request)
    {
        using var scope = serviceScopeFactory.CreateScope();
        using var dbContext = scope.ServiceProvider.GetRequiredService<DataContext>();
        QueryableRepository scopedRepo = new QueryableRepository(dbContext);
        MessageService messageService = new MessageService(scopedRepo);

        var messages = messageService.GetChannelMessages((int)userStateService.selectedChannelId!, request.StartIndex, request.Count);
        return new ValueTask<ItemsProviderResult<Message>>(new ItemsProviderResult<Message>(messages, messageService.GetChannelMessagesCount((int)userStateService.selectedChannelId!)));
    }

    protected override void OnInitialized()
    {
        timer.Elapsed += (_, _) =>
        {
            Task.Run(async () =>
            {
                await CheckForNewMessages();
            });
        };
        timer.Start();

        using var scope = serviceScopeFactory.CreateScope();
        using var dbContext = scope.ServiceProvider.GetRequiredService<DataContext>();
        var queryable = dbContext.Messages.AsQueryable();
        var totalMessageCount = queryable.Count();
    }

    private async Task KeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !e.ShiftKey)
        {
            await SendMessage();
        }
    }

    private async Task SendMessage()
    {
        if (string.IsNullOrEmpty(messageContent.Trim()))
        {
            messageContent = string.Empty;
            return;
        }
        
        await messageService.CreateMessage((int)userStateService.loggedInUserId!, (int)userStateService.selectedChannelId!, messageContent.Trim());
        messageContent = string.Empty;
        if (virtualizeRef != null)
        {
            await virtualizeRef.RefreshDataAsync();
        }
        StateHasChanged();
    }

    private async Task CheckForNewMessages()
    {
        using var scope = serviceScopeFactory.CreateScope();
        using var dbContext = scope.ServiceProvider.GetRequiredService<DataContext>();
        var queryable = dbContext.Messages.AsQueryable();

        var newMessageCount = queryable.Count();
        if (newMessageCount == totalMessageCount)
            return;

        totalMessageCount = newMessageCount;
        if (virtualizeRef != null)
        {
            await virtualizeRef.RefreshDataAsync();
        }

        StateHasChanged();
    }

    public void Dispose()
    {
        timer.Stop();
        timer.Dispose();
    }
}