@page "/register"
@inject UserService userService
@inject NavigationManager NavigationManager

<MudContainer Class="d-flex justify-center align-center" Style="margin-top: 10vh;">
    <br />
    <MudText Typo="Typo.h2">flycatcher.chat</MudText>
</MudContainer>
<MudContainer Class="d-flex justify-center align-center" Style="height: 30vh;">
    <MudCard Style="width: 400px;">
        <MudCardContent>
            <MudTextField Label="Email" @bind-Value="email" />
            <MudTextField Label="Username" @bind-Value="username" />
            <MudTextField Label="Password" @bind-Value="password" InputType="InputType.Password" />
        </MudCardContent>
        <MudCardActions Class="d-flex justify-end">
            <MudButton Variant="Variant.Text" Color="Color.Default" OnClick="Register">Register</MudButton>
        </MudCardActions>
    </MudCard>
</MudContainer>
<MudContainer Class="d-flex justify-center align-center">
    <div>
        @if (errorMessage != string.Empty)
        {
            <MudAlert Style="width: 400px;" Severity="Severity.Error">@errorMessage</MudAlert>
        }
    </div>
</MudContainer>
@code {
    private string username = string.Empty;
    private string password = string.Empty;
    private string email = string.Empty;
    private string errorMessage = string.Empty;

    private async Task Register()
    {
        var result = await userService.CreateUser(username, password, email);
        if (result.Success)
        {
            errorMessage = string.Empty;
            NavigationManager.NavigateTo("/");
        }
        else
        {
            errorMessage = result.ErrorMessage ?? "Unknown Error Occured";
        }
    }
}
